#content {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav main main"
        "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 100px;
    width: 100vw;
    min-height: 100vh;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.hidden{
    display: none;
}