#content {
    display: grid;
    grid-template-areas: 
        "header header header header"
        "nav main main main"
        "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1fr 60px;
    width: 100vw;
    min-height: 100vh;
    font-family: 'PT Sans', sans-serif;
}

header {
    grid-area: header;
    background-color: #4CD4CB;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo {
    height: 80px;
    width: auto;
    margin-left: 20px;
}

@keyframes shake {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-5deg)}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
}

.hamburger {
    height: 60px;
    margin-right: 20px;
}

.hamburger:hover {
    cursor: pointer;
    animation: 0.4s shake;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

nav {
    grid-area: nav;
    min-width: 200px;
    max-width: 340px;
    background-color: #4CD4CB;
    border-right: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
}

.show-nav {
    opacity: 1;
    visibility: visible;
    animation: slideIn 0.5s ease-in-out;
}

.nav-btns {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 0px;
    list-style-type: none;
}

.nav-btns > li {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    margin: 5px 10px;
    padding: 5px;
}

nav li:hover {
    background-color: #F5E5C0;
    cursor: pointer;
}

.nav-projects {
    list-style-type: none;
    padding-left: 0px;
}

.nav-projects > li {
    margin: 5px 40px;
    text-align: center;
    font-size: 1.3rem;
    border-left: 2px solid black;
    border-right: 2px solid black;

}

main {
    grid-area: main;
    grid-column: 1 / 5;
    background-color:#F5E5C0;
    padding-top: 50px;
}

.tasks, .projects, .content-headings {
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: #4CD4CB;
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.footer-text {
    font-size: 1.2rem;
    font-weight: bold;
}

footer > img:hover {
    cursor: pointer;
    scale: 1.1;
    animation: 0.4s shake;

}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#todo-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #4CD4CB;
    padding: 20px;
    z-index: 3;
    border: 5px solid #F5E5C0;
    border-radius: 10px;
}

#form-inputs {
    display: grid;
    grid-template-columns: 100px auto;
    grid-column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

input, select, textarea, button[type='submit'] {
    outline: none;
    border: none;
    padding: 5px;
    background-color: #F5E5C0;
    border-radius: 10px;
}

button[type='submit'] {
    cursor: pointer;
    padding: 10px;
    width: 100%;
}

button[type='submit']:active {
    scale: 0.95;
    background-color: #D7C59B;
}
@media (min-width: 600px) {
    nav {
        display: block;
    }

    main {
        padding-left: 250px;
    }

    .tasks, .projects, .content-headings {
        text-align: justify;
    }
}

@media (min-width: 900px) {
    main {
        padding-left: 350px;
    }
}

@media (min-width: 1200px) {
    main {
        padding-left: 450px;
    }
}